.ng-diagramm,
[ng-diagramm],
ng-diagramm
	ul, li
		margin 0
		padding 0
		list-style none

	& *:focus
		outline none


	.svg
		position relative
		overflow hidden
		transition all .5s ease-in

		&__label-list
			transition: all .5s ease-in
			&-item
				position absolute
				width 100px
				border-radius 5px

		.label
			color #fff
			text-align center
			opacity 0
			transition: all .5s ease-in

			&_show
				opacity 1
			&__val
				strong
					font-size 20px
			&__text
				font-size 13px

	svg
		background-color #16314c
	path
		border none
		outline none
		opacity .8
		&:focus, &:active
			border none
			outline none !important
	circle
		opacity .5