.ng-diagramm,
[ng-diagramm],
ng-diagramm
	svg
		background-color #16314c
	path
		border none
		outline none
		opacity .8
		&:focus, &:active
			border none
			outline none !important
	circle
		opacity .3