ngDiagramm
<br>
<svg ng-if="dg.showSvg" ng-style="dg.prs.svgStyles">
	<circle ng-repeat="item in dg.circles"
			ng-r="{{ item.radius }}"
			ng-cx="{{ item.center.x }}"
			ng-cy="{{ item.center.y }}"
			fill="transparent"
			stroke="white"
			stroke-width="1"
			stroke-dasharray="5px 15px"/>

	<g ng-repeat="item in dg.pathes" id="{{ item.id }}">
		<path ng-d="{{ item.settings }}" ng-fill="{{ item.color }}" ng-click="dg.pathClick($event, item)"></path>
		<text x="10" y="20" style="fill:red;">Several lines:
			<tspan x="10" y="45">First line.</tspan>
			<tspan x="10" y="70">Second line.</tspan>
		</text>
	</g>
</svg>